body{
    text-align: center;
    background-color: #46a5a0;

}
h1{
    color: rgb(66, 96, 129);
}
img{
    width: 450px;
    height: 450px;
}
h2{
    color: rgb(66, 96, 129);
}
p{
    text-align: center;
}
h3{
    text-align: center;
}